{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<footer id="site-footer" class="copyrights adg" style="background-color: green;">
    <div id="copyright-note" style="text-align:center;"><span class="c"style="color:white;">Copyright &copy; Schoolpadi &middot;</span>
        <br>
        <nav ><a href=""style="color: #000;">Home</a> &middot;
             <a href="" style="color: #000;">Advertise</a>
              &middot; <a href="" style="color: #000;">About</a>
               &middot; <a href="" style="color: #000;">Disclaimer</a>    
                           &middot; <a href="" style="color: #000;">Privacy Policy</a> &middot;</nav>
    </div>
</footer>